.mbody {
    text-align: center;
}

.navcol {
    background-color: rgb(185, 132, 77);
}

.navbut {
    position: absolute;
    left: 0;
}

.nac {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.tablewidth {
    width: 50%;
}
.dropzone {
    text-align: center;
    padding: 10px;
    border: 3px dashed #eeeeee;
    background-color: lightgrey;
    margin-bottom: 2px;
    width: 50%;
}

ul.ba {
    list-style-type: none;
}


