.mbody {
    text-align: center;
}

.navcol {
    background-color: rgb(185, 132, 77);
}

.navbut {
    position: absolute;
    left: 0;
}

.nac {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.tablewidth {
    width: 50%;
}



