.App {
  text-align: center;
  
}
.body {
  height: auto;
  width: auto;
}
.footer {
  background-color:rgb(185, 132, 77);
  width: 100%;
  position: absolute;
  bottom: 0;
  
}

.App-header {
  color: rgb(185, 132, 77);
  font-size: xx-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 60px;
}


.App-link {
  text-align: center;
  bottom: 0;
  color: #61dafb;
}

.gitlink {
  color: white;
}
.gitlink a:hover{
  text-decoration: none;
}