.App {
  text-align: center;
}
.body {
  background-color: darkorchid;
}
.footer {
  position: absolute;
  bottom: 0;
  
}

.App-header {
  color: grey;
  background-color: #122eaa;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  

}


.App-link {
  text-align: center;
  bottom: 0;
  color: #61dafb;
}


